n8n-workflow-v3.json
{
  "name": "Live Email Orchestrator (Gmail)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-automation-post",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.email}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "if-node",
      "name": "IF Email Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"answer\": \"Analysis complete for question: {{$('Webhook').item.json.body.question}}\",\n  \"email_body\": \"Dear User, your document has been analyzed.\\n\\nExtracted Data:\\n{{$('Webhook').item.json.body.extractedData}}\",\n  \"status\": \"Email Send Attempted via Gmail!\"\n}",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 150]
    },
    {
      "parameters": {
        "sendTo": "={{$json.body.email}}",
        "subject": "Document Analysis Result",
        "message": "=Dear User,\n\nHere is the data we extracted based on your question: {{$('Webhook').item.json.body.question}}\n\nData:\n{{$('Webhook').item.json.body.extractedData}}",
        "appendAttribution": false
      },
      "id": "gmail-node",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [650, 350]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF Email Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Email Exists": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
